@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');
/*

* check image in first blog poste
* allow blog postes to have images
* check metta in all places
* table of contence and tags and description in article 
*/
:root {
    --primary: #8dd0ff;
    --primary-hover: #56bdff;
    --layer: #2a323d;
    --muted: rgba(255, 255, 255, 0.6);
    --font-family: 'Fira Code', monospace;
}

.primary {
    color: var(--primary)
}

body {
    background-color: var(--ground);
    font-family: var(--font-family);
    margin: 0;
}

.container {
    padding: var(--content-padding);
}

.p-component {
    font-family: var(--font-family);
}

h1 {
  text-align: center;
}
/* Markdown styling */ 

p {
    line-height: 1.5;
}
h1,h2,h3,h4,h5,h6 {
    line-height: 1.1;
}
:is(h1, h2, h3, h4, h5, h6) a {
    text-decoration: none;
    color: var(--text-color);
}
a {
    color: var(--primary);
    text-decoration: none;
  }
  a:hover {
    color: var(--primary-hover);
  }

  blockquote {
    border-left: 0.25em var(--primary) solid;
    padding: 0.5em 0.5em 0.5em 1em;
    background-color: var(--layer);
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
  }
  img {
    width: 100%;
  }

  code {
    background-color: var(--layer);
    padding: 0.3em 0.4rem;
    border-radius: 0.2em;
    font-size: 0.9em;
  }

  pre {
    background: var(--layer);
    padding: 1.5em;
    overflow-x: scroll;
    border-radius: var(--border-radius);
  }
pre > code {
    padding: 0;
    border-radius: 0;
    font-size: 1em;
}

